datasets==3.4.1
ipython==8.12.3
matplotlib==3.10.1
numpy==2.2.4
opencv_contrib_python==4.11.0.86
opencv_python==4.10.0.84
opencv_python_headless==4.11.0.86
paddleocr==2.9.1
paddleocr.egg==info
Pillow==11.1.0
protobuf==3.20.3
scikit_learn==1.6.1
scipy==1.15.2
skimage==0.0
streamlit==1.44.0
torch==2.3.1
transformers==4.49.0
ultralytics==8.3.59
